
.row {
    display: flex;
    width: 100%;
}

.index {
    width: 100%;
    padding-left: 30px;
}


#sidebar {
    position: fixed;
    transition: all .3s;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#content {
    width: 100%;
    padding-left: 275px;
    padding-right: 5%;
}

#channel_nav {
    padding-left: 0px;
}

.sidebar_add_channel {
    display: flex;
    flex-direction: row-reverse;
}

.button_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-primary {
    background-color: #BA55D3;
    border: none;
}

.btn-primary:hover {
    background-color: #a606cf;
}

.btn-primary:disabled {
    background-color: #c9a9d1;
}

a {
    color: #504852;
}

a:hover {
    color: #a606cf;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

