
.row {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    transition: all .3s;
}

#content {
    margin-left: 250px;
}

#channel_nav {
    margin-left: 0px;
    padding-left: 0px;
}