<!DOCTYPE html>
<html>
    <head>
        <script>
            if (!localStorage.getItem('username'))
                window.location.href = '/' 
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
       
        <script src="{{ url_for('static', filename='functions.js') }}"></script>
        <script src="{{ url_for('static', filename='channel.js') }}"></script>

        <script>
    
        </script>
    
        <title>{{ channel_string }} | Flack</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/project2.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class = "row">

            <nav id="sidebar" class="navbar navbar-light col-3">
                <form id="sidebar_add_channel" class="add_channel form" method="post">
                    <div class="form-group sidebar_add_channel">
                        <input id="sidebar_channel_name" class="channel_name form-control input" placeholder="Add new channel" autocomplete="off" type="text" name="channel_name">
                        <button id= "sidebar_channel_btn" class="add_channel_btn btn btn-primary" type="submit">+</button>
                    </div>
                </form>
                <h3>Channels</h3>
                <ul id="channel_nav">
                {% for channel in channels %}
                <li class="nav-link"><a href="{{ url_for('channel', channel_name=channel) }}">{{ channel }}</a></li>
                {% endfor %}
                </ul>
            </nav>
            
            <div id="content" class="col-9">
                <ul id="messages">
                    {% for message in channel_name %}
                    <div class="button_div">
                        <li><b>{{ message[0]}}</b> {{ message[2] }}</li>
                        <button data-uuid={{ message[3] }} class="delete_button btn-primary">x</button>
                    </div>
                    <li>{{ message[1] }}</li>
                    <br>
                    {% endfor %}
                </ul>
                <!--channel name??-->
                <!--form to create new channel-->
                <form id="send_message" method="post" class="send_message form">
                    <div class="form-group">
                        <input id="send" type="text" class="form-control input" name="send" autocomplete="off">
                    </div>
                    <button id="send_message_btn" type="submit" class="btn btn-primary">Send</button>
                </form>

            </div>
        

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        </div>
    </body>
</html>